/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: aqua;
  height: 10vh;
}

nav li {
  padding: 0 2% 0 1%;
  list-style: none;
}

nav li:first-child {
  margin-left: 5%;
}

nav li:hover {
  background-color: #f7ff86;
  height: 5vh;
  margin: 0% 0 0 0%;
  padding: 1% 2% 0 2%;
  border-radius: 10%;
  cursor: pointer;
}

nav li:hover:first-child {
  margin-left: 100px;
  padding: 1% 2% 0 2%;
}

nav li:hover a {
  font-weight: 600;
}

nav li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  letter-spacing: .2rem;
}

nav li:last-child {
  position: absolute;
  left: 93vw;
  pointer-events: none;
}

nav li:last-child img {
  height: 3.5vh;
}

nav img {
  height: 80px;
  margin: 0 50px 0 50px;
}

label {
  background: #444;
  color: #fff;
  -webkit-transition: -webkit-transform 400ms ease-out;
  transition: -webkit-transform 400ms ease-out;
  transition: transform 400ms ease-out;
  transition: transform 400ms ease-out, -webkit-transform 400ms ease-out;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100vw;
  height: 50vh;
  position: relative;
  z-index: 1;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wheel {
  white-space: nowrap;
}

input {
  position: absolute;
}

.keys {
  padding: 1rem;
  color: white;
  text-align: center;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  opacity: 0;
}

input:focus ~ .keys {
  opacity: 0.8;
}

input:nth-of-type(1):checked ~ label:nth-of-type(1),
input:nth-of-type(2):checked ~ label:nth-of-type(2),
input:nth-of-type(3):checked ~ label:nth-of-type(3),
input:nth-of-type(4):checked ~ label:nth-of-type(4) {
  z-index: 0;
}

input:nth-of-type(1):checked ~ label {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

input:nth-of-type(2):checked ~ label {
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
}

input:nth-of-type(3):checked ~ label {
  -webkit-transform: translate3d(-200%, 0, 0);
          transform: translate3d(-200%, 0, 0);
}

input:nth-of-type(4):checked ~ label {
  -webkit-transform: translate3d(-300%, 0, 0);
          transform: translate3d(-300%, 0, 0);
}

label {
  background: #444;
  background-size: cover;
  font-size: 5rem;
}

label[for="diamonds"] {
  background-image: url("/project_one/assets/img/train-4734126_1920.jpg");
  background-position: bottom;
}

label[for="clubs"] {
  background-image: url("/project_one/assets/img/bremen-6557996_1920.jpg");
  background-position: center;
}

label[for='hearts'] {
  background-image: url("/project_one/assets/img/sunset-3325080_1920.jpg");
  background-position: bottom;
}

label[for='spades'] {
  background-image: url("/project_one/assets/img/building-6528075_1920.jpg");
}

label:before,
label:after {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: black;
  position: absolute;
  padding: 1rem;
  font-size: 3rem;
  height: 10rem;
  vertical-align: middle;
  line-height: 10rem;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  cursor: pointer;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button li {
  margin: 10px 50px 10px 50px;
}

.button li a img {
  height: 150px;
  background-color: cyan;
  border-radius: 50%;
  padding: 10px 0 0 0;
  margin: 50px 0px 10px 20px;
}

.button li a img:hover {
  background-color: #f7ff86;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.button li a ~ p {
  color: white;
  font-weight: 600;
  letter-spacing: 4px;
  padding: 10px 0 10px 0;
  width: 200px;
  white-space: pre-wrap;
  text-align: center;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: #3A21CE;
}

.b-w {
  height: 40vh;
  position: absolute;
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
  top: 48.5%;
  left: 75%;
  opacity: .6;
}
/*# sourceMappingURL=style.css.map */