.button {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 22rem;
    left: 40rem;
    li {
        a {
            img {
                filter: invert(1);
                height: 120px;
                //filter: invert(1);
                //background-color: rgb(255, 0, 13);
                background-color: rgb(255, 255, 255);
                border-radius: 35%;
                //padding: 0px 0 0 0;
                margin: 50px 0px 10px 20px ;
                &:hover {
                    background-color: rgb(247, 255, 134);
                    transform: scale(1.15);
                }
            }
            & ~ p {
                
                color: white;
                font-weight: 600;
                letter-spacing: 4px;
                padding: 10px 0 10px 0;
                width: 150px;
                white-space: pre-wrap;
                text-align: center;
            }
        }
        margin: 15px 0px 15px 0px;
    }
    // :nth-child(2) img{
    //     height: 100px;
    // }
}